* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}
body {
  background: linear-gradient(180deg, rgb(9, 173, 238) 0%, #048549 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hide {
  display: none;
}

.container {
  background-color: #202750;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  color: aliceblue;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
}

#description {
  font-weight: bold;
  text-transform: capitalize;
}

.form h3 {
  margin-bottom: 1rem;
}

.form input {
  padding: 0.8rem;
  border: none;
  flex: 1;
  border-radius: 4px;
}

.form button {
  padding: 0.8rem;
  min-width: 50px;
  margin-left: 8px;
  background-color: #8dd0f5;
  color: aliceblue;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#dados-previsao {
  border-top: 1px solid #fff;
  margin-top: 1.5rem;
  padding: 1.5rem;
  text-align: center;
}
#dados-previsao h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem;
}

#dados-previsao i h2 {
  font-size: 1.5rem;
}
#dados-previsao span:first-child {
  margin-right: 1rem;
}

#description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem 0;
}
#description-container #description {
  padding: 0;
  margin-top: 1rem;
}
#details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#details-container #umidade {
  border-right: 1px #fff;
  margin: 0.6rem 0.5rem 0.6rem 0;
  padding: 0.6rem;
}

.nuvem {
  position: absolute;
  top: -130px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1; /* fica atrás do conteúdo */
  opacity: 0.8; /* efeito suave, opcional */
}

#clould {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  text-align: center;
  margin-top: -50px;
}
